# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# Environment
.env
*.env

# Uploads
uploads/

# Alembic versions (НЕ игнорируй — они нужны!)
# alembic/versions/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
